@use "../../styles/partials/mixins" as *;

.login
{
    background-image: url("../../assets/images/image1.jpg");
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: grayscale(50%);
    
    &__form
    {
        margin:4rem;
        position: relative;
       background-color: #E0E1DD; 
       padding: 2rem;
       border-radius: 8px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
       z-index: 1; 
        &--title
        {
            color:#0D1B2A;
            margin-bottom: 1rem;
        }
        form{
            width:30vw;
            
            .input-group {
                margin-bottom: 1rem;
                
                label {
                    display: block;
                    margin-bottom: 0.5rem;
                    color:#103357
                }
                
                input {
                    width: 100%;
                    padding: 0.5rem;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
            }
            button {
                width: 100%;
                padding: 0.75rem;
                border: none;
                border-radius: 4px;
                background-color: #103357;
                color: white;
                font-size: 1rem;
                cursor: pointer;
            }
            
            button:hover {
                background-color:#0D1B2A;
            }
            
        }
        p{
            padding:0.7rem;
            span{color:#103357;
            text-decoration: underline;}
        }
    }

}
.login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}