@use '../../styles/partials/mixins' as *;

.header {
    background-color:#0D1B2A;
    color:#E0E1DD;
   
    &__wrapper {
     text-align: center;
     padding:1.2rem;
    

    }

    @include tablet {
        &__wrapper {
            font-size:1rem;
        }

    }

    @include desktop {}
}
a{
    text-decoration: none;
    color:#E0E1DD;
}
a.active {
    
    text-decoration: none;
    color:#E0E1DD;
    
}